.row.justify-content-center
  .col-md-5
    %h2 Olvidaste tu contraseña?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control'
      .actions
        = f.submit "Enviame instrucciones de recuperacion",class:'btn btn-primary'
    = render "devise/shared/links"
