.row.justify-content-center
  %h1.mt-3.mb-5 Proximos conciertos
.row.justify-content-center
  -@concerts.each do |concert|
    .col-md-3
      .card{:style => "width: 18rem;"}
        =image_tag 'concert.jpg',class:'card-img-top'
        .card-body
          %h5.card-title=concert.name
          %p.card-text=concert.description
          -if concert.tickets_availables?
            =link_to 'Comprar boletos', concert, class:'btn btn-primary'
          -else
            %p Boletos agotados
          
