%p.large-padding.roboto.red.white-text.text-center.alert{:style => "#{'display:none;' if alert.nil?} margin-bottom: 0px;"}
  = alert
  %span.close-parent{:style => "float: right; cursor: pointer;"} X
%p.large-padding.roboto.blue.white-text.text-center.alert{:style => "#{'display:none;' if notice.nil?} margin-bottom: 0px;"}
  = notice
  %span.close-parent{:style => "float: right; cursor: pointer;"} X