%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  =link_to 'Concerts', root_path , class:'navbar-brand' 
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        =link_to 'Inicio', root_path,class:'nav-link'
      -if user_signed_in?
        %li.nav-item
          -if current_user.is_admin? 
            =link_to 'Conciertos', concerts_path,class:'nav-link' 
        %li.nav-item
          =link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, class:'nav-link'
      -else
        %li.nav-item
          =link_to 'Iniciar sesion',new_user_session_path,class:'nav-link'
        %li.nav-item
          =link_to 'Crear cuenta',new_user_registration_path,class:'nav-link'
      
