= form_for @concert do |f|
  - if @concert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@concert.errors.count, "error")} prohibited this concert from being saved:"
      %ul
        - @concert.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name,class:'form-control'
  .form-group
    = f.label :description
    = f.text_area :description,class:'form-control'
  .form-group
    = f.label :places
    = f.number_field :places,class:'form-control'
  .form-group
    = f.label :price
    = f.text_field :price,class:'form-control'
  .actions
    = f.submit 'Guardar',class:'btn btn-primary'
