.row.justify-content-center
  .col-md-6.text-center
    %h1 Boletos reservados
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th Concierto
          %th Numero de boletos
          %th Precio unitario
          %th Total
      %tbody
        %td= @concert.name
        %td= @number_of_tickets
        %td= number_to_currency(@concert.price, separator: ',', delimiter: '')
        %td= number_to_currency(@concert.get_total(@number_of_tickets), separator: ',', delimiter: '')
      
    .mt-5
      =render 'payments/buttons'

