%h1 Lista de conciertos
.mt-5.mb-5
  = link_to 'Agregar concierto', new_concert_path,class:"btn btn-primary"

%table.table.table-hover.table.striped
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th Numero de boletos
      %th Precio
      %th
      %th
      %th

  %tbody
    - @concerts.each do |concert|
      %tr
        %td= concert.name
        %td= concert.description
        %td= concert.places
        %td=number_to_currency(concert.price, separator: ',', delimiter: '')
        %td= link_to 'Ver', concert
        %td= link_to 'Editar', edit_concert_path(concert)
        %td= link_to 'Eliminar', concert, method: :delete, data: { confirm: 'Are you sure?' }


