.row.mt-5
  .col-md-6
    =image_tag 'concert.jpg',width:500
  .col-md-6

    %h2= @concert.name
    %p
      = @concert.description
    
    -if @concert.tickets_availables?
      %p
        %b Boletos disponibles:
        %br
        = @concert.places
      %p
        %b Costo por boleto:
        %br
        =number_to_currency(@concert.price, separator: ',', delimiter: '')
      .mt-5
        =link_to "Buscar boletos", show_tickets_concerts_path(@concert.slug),class:'btn btn-success' 
    -else 
      %h3 Boletos agotados

    -if current_user.is_admin?
      = link_to 'Edit', edit_concert_path(@concert)
      \|
      = link_to 'Back', concerts_path
