.row.justiy-content-center.mt-5
  .col-md-6
    =image_tag 'concert.jpg',width:500
  .col-md-6
    -if @concert.tickets_availables?
      %label Numero de boletos disponibles
      = @concert.places
      %br
      %label Costo por boleto
      =number_to_currency(@concert.price, separator: ',', delimiter: '')

      .mt-5
        = form_tag  create_order_pay_concerts_path(@concert.slug), method: :get,id:"search-form"  do
          .form-group
            %label Numero de boletos por comprar 
            %br
            = number_field_tag :number_of_tickets 
          .form-group
            = content_tag :button, type: :submit,class:'btn btn-success' do
              Comprar 
    -else
      %label boletos agotados
      %br
    
    
   

     