.row.justify-content-center
  .col-md-4.mt-5
    %h2 Iniciar sesion
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control'
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password",class:'form-control'
      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Iniciar sesion",class:'btn btn-primary'
    .mt-3
      = render "devise/shared/links"
