$colors:(

red: #FF0000,
blue: #4C8DCA,
white: #fff

);

@each $color_name,$color in $colors{
	
.#{$color-name}{
	background-color:$color !important;
}
.#{$color-name}-text {
	color:$color !important;
 }
}